.First{
    background-color: rgb(105, 92, 29);
    text-align: center;
}
.second{
    background-color: rgba(154, 224, 203, 0.971);
    text-align: center;
}
body{
    background-color: rgb(115, 221, 107);

}